home-page{
  ion-row[home]{
    /*padding: 1px;*/
    margin-bottom: -10px;
  }

  ion-col[home]{
    padding: 0;
    margin-right: 0px;
  }

  ion-card[home] {
    box-shadow: inherit;
  }


  p[home] {
    background-color: rgba(86, 86, 86, 0.29);
    font-size: large !important;
  }

  button[home] {
    height: 150px;
    padding: 0;
  }
}
