<ion-navbar *navbar class="show-navbar android-attr">
  <ion-title>
    Families
    <div toolbar-subtitle>
      Ayuntamiento de Málaga
    </div>
  </ion-title>
</ion-navbar>
<ion-content families>
    <ion-row *ngFor='#family of families; #i = index'>
        <ion-col width-33 *ngIf="i%3 == 0">
            <ion-card families class="advanced-background" (click)="openNewInc()">
                <img src={{families[i].icon}}/>
                <p>{{families[i].name}}</p>
            </ion-card>
        </ion-col>
        <ion-col width-33  *ngIf="i%3 == 0">
            <ion-card families class="advanced-background" (click)="openNewInc()">
                <img src={{families[i+1].icon}}/>
                <p>{{families[i+1].name}}</p>
            </ion-card>
        </ion-col>
        <ion-col width-33  *ngIf="i%3 == 0">
            <ion-card families class="advanced-background" (click)="openNewInc()">
                <img src={{families[i+2].icon}}/>
                <p>{{families[i+2].name}}</p>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>
