<ion-navbar *navbar class="show-navbar android-attr">
  <ion-title>
   {{"newInc.families.title" | translate}}  
    <div toolbar-subtitle>
      {{user.AyuntamientoNombre}}
    </div>
  </ion-title>
</ion-navbar>
<ion-content families>
    <ion-row families *ngFor='let familia of familias; let i = index'>
        <ion-col width-33 *ngIf="i%3 == 0 && i <= lenFamilias - 1">
            <ion-card families class="advanced-background" (click)="openNewInc(familias[i])">
                <img src={{familias[i].Icono}}/>
                <p>{{familias[i].Nombre}}</p>
            </ion-card>
        </ion-col>
        <ion-col width-33  *ngIf="i%3 == 0 && i+1 <= lenFamilias - 1">
            <ion-card families class="advanced-background" (click)="openNewInc(familias[i+1])">
                <img src={{familias[i+1].Icono}}/>
                <p>{{familias[i+1].Nombre}}</p>
            </ion-card>
        </ion-col>
        <ion-col width-33  *ngIf="i%3 == 0 && i+2 <= lenFamilias - 1">
            <ion-card families class="advanced-background" (click)="openNewInc(familias[i+2])">
                <img src={{familias[i+2].Icono}}/>
                <p>{{familias[i+2].Nombre}}</p>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>
