<!--
<ion-navbar *navbar  class="show-navbar android-attr">
  <ion-buttons>
    <button small (click)="close()">Close</button>
  </ion-buttons>
  <ion-title>
    Chat
    <div toolbar-subtitle>
      Ayuntamiento de Málaga
    </div>
  </ion-title>
</ion-navbar>

<ion-content id="chat" class="chat">
  <div class="messages">
    <div class="message" *ngFor="let m of msgs">    
      {{ m.msg }}      
    </div>
  </div>
  
  <div class="msg">
    <input type="text" placeholder="Message ..." [(ngModel)]="msg" (keydown.enter)="sendMessage()">
    <button small (click)="sendMessage()"
                  [disabled]="msg === ''">
      Send
    </button>
  </div>
</ion-content>
-->
<ion-navbar *navbar>
    <ion-buttons>
      <button small (click)="close()">Close</button>
    </ion-buttons>
    <ion-title>
      Chat
      <div toolbar-subtitle>
        Ayuntamiento de Málaga
      </div>
    </ion-title>
</ion-navbar>

<ion-content id="chat" class="chat">
  
 <div class="messages">
    <div class="message" *ngFor="let m of msgs">    
      {{ m.msg }}      
    </div>
  </div>
  
  <ion-footer-bar keyboard-attach class="msg">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Message ..." [(ngModel)]="msg" (keydown.enter)="sendMessage()">
    </label>
    <button class="button button-clear" (click)="sendMessage()"
                  [disabled]="msg === ''">
      Send
    </button>
  </ion-footer-bar>
  
</ion-content>

 