.pull-right {
  float: right;
}
.text-center {
  text-align: center;
}
[text-right] {
  text-align: right;
}
[pull-right] {
  float: right;
}
[pull-left] {
  float: left;
}
img[size-24] {
  width: 24px;
  height: 24px;
}
