ion-row[home]{
  /*padding: 1px;*/
  margin-bottom: -10px;
}

ion-col[home]{
  padding: 0;
  margin-right: 0px;
}
/* FIX CSS
ion-card[home] {
  //margin: 0;
}
*/

p[home] {
   background-color: rgba(86, 86, 86, 0.29);
}