<!--<ion-header>
  <ion-toolbar>
    <ion-title>
      {{"incidents.pagechat.title" | translate}}  
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="close()">
        <span color="primary" showWhen="ios">{{"incidents.pagechat.close" | translate}}  </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>-->

<ion-header>
  <ion-navbar>
    <ion-title>
      {{"incidents.pagechat.title" | translate}}  
      <!--<div toolbar-subtitle>
        {{user.AyuntamientoNombre}}
      </div>-->
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content #chatContent class="chat">
  <div>
  
    <div class="message-list">    
      <div *ngFor="let m of msgs">
        <div class="chat-message" [ngClass]="{in: m.UsuarioID != me.UsuarioID, out: m.UsuarioID == me.UsuarioID}">
          <div class="message tail">
            <span class="author-name">{{ m.Nombre }}</span>  
            <span class="message-date">{{ setDate(m.FechaHoraRegistro) }}</span>              
            <span class="message-content">{{ m.Mensaje }}</span>  
          </div>
        </div>   
      </div>
    </div>

    <!--<ion-list class="message-list">
      <ion-item *ngFor="let m of msgs" class="chat-message" [ngClass]="{in: m.UsuarioID != me.UsuarioID, out: m.UsuarioID == me.UsuarioID}">
        <div class="message tail">
          <span class="author-name">{{ m.Nombre }}</span>  
          <span class="message-date">{{ setDate(m.FechaHoraRegistro) | date:'HH:mm' }}</span>                
          <span class="message-content">{{ m.Mensaje }}</span>  
        </div>
      </ion-item>
    </ion-list>-->

    <ion-toolbar position="bottom" class="message-form">
      <ion-grid>
        <ion-row>
          <ion-col width-80><input type="text" placeholder="Message ..." [(ngModel)]="msg" (keydown.enter)="sendMessage()"></ion-col>
          <ion-col width-20>
            <ion-buttons>
              <button ion-button royal (click)="sendMessage()">
                Send
                <ion-icon name="send"></ion-icon>
              </button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>

  </div>
  
</ion-content>

<!--<ion-footer-bar keyboard-attach class="message-form">
  <label class="item-input-wrapper">
    <input type="text" placeholder="Message ..." [(ngModel)]="msg" (keydown.enter)="sendMessage()">
  </label>
  <button ion-button class="button button-clear" (click)="sendMessage()">
    {{"incidents.pagechat.send" | translate}}  
  </button>
</ion-footer-bar>-->
