.news-content{

  ion-row[news]{
    /*padding: 1px;*/
    margin-bottom: -10px;
  }

  ion-col[news]{
    padding: 0;
    margin-right: 1px;
  }

  /* FIX CSS
  ion-card[news] {
    margin: 0;
  }
  */

 
  
}