<ion-navbar *navbar hideBackButton class="show-navbar android-attr">

  <div showWhen="android">
    <ion-title pull-left>
      Incidents
      <div toolbar-subtitle>
        Ayuntamiento de Málaga
      </div>
    </ion-title>
    <ion-buttons end pull-right>
        <button (click)="type='list'" [hidden]="type=='list'" outline><ion-icon name="list-box"></ion-icon></button>
        <button (click)="type='list'" [hidden]="type!='list'" class="activated" outline><ion-icon name="list-box"></ion-icon></button>
        <button (click)="showMap();type='map'" [hidden]="type=='map'" outline><ion-icon name="map"></ion-icon></button>
        <button (click)="showMap();type='map'" [hidden]="type!='map'" class="activated" outline><ion-icon name="map"></ion-icon></button>
        <button (click)="type='gallery'" [hidden]="type=='gallery'" outline><ion-icon name="images"></ion-icon></button>
        <button (click)="type='gallery'" [hidden]="type!='gallery'" class="activated" outline><ion-icon name="images"></ion-icon></button>
    </ion-buttons>
  </div>

  <div showWhen="ios">
    <ion-title>
      Incidents
      <div toolbar-subtitle>
        Ayuntamiento de Málaga
      </div>
    </ion-title>
    <ion-buttons end >
        <button (click)="type='list'" [hidden]="type=='list'" ><ion-icon name="list-box"></ion-icon></button>
        <button (click)="type='list'" [hidden]="type!='list'" class="activated" ><ion-icon name="list-box"></ion-icon></button>
        <button (click)="showMap();type='map'" [hidden]="type=='map'" ><ion-icon name="map"></ion-icon></button>
        <button (click)="showMap();type='map'" [hidden]="type!='map'" class="activated" ><ion-icon name="map"></ion-icon></button>
        <button (click)="type='gallery'" [hidden]="type=='gallery'" ><ion-icon name="images"></ion-icon></button>
        <button (click)="type='gallery'" [hidden]="type!='gallery'" class="activated"><ion-icon name="images"></ion-icon></button>
    </ion-buttons>
  </div>

</ion-navbar>


<ion-content class="incidents-page">

  <ion-searchbar [hidden]="type=='map'"
    [(ngModel)]="searchText"
    (input)="inputSearch($event)">
  </ion-searchbar>

  <div padding [hidden]="type == 'map'">
    <ion-segment [(ngModel)]="order">
      <ion-segment-button value="FechaHoraRegistro">Date</ion-segment-button>
      <ion-segment-button value="FechaHoraRegistro">Distance</ion-segment-button>
    </ion-segment>
  </div>
  
  

  <div id="switch" [ngSwitch]="type">
    <ion-list *ngSwitchDefault>
      <ion-item *ngFor="let incident of incidents | arraySort: order | search: searchText">
        <ion-thumbnail item-left>
          <img src={{incident.RutaFoto}}>
        </ion-thumbnail>
        <h2>{{incident.DesTipoElemento}}</h2>
        <p>{{incident.DesUbicacion}}</p>
        <div [ngSwitch]=incident.state>
          <p danger *ngSwitchWhen="'Pendiente'">{{incident.Estado}}</p>
          <p secondary *ngSwitchWhen="'Terminada'">{{incident.Estado}}</p>
        </div>
        <button clear item-right (click)="openDetail(incident)">View</button>
      </ion-item>
    </ion-list>

    <div id="mapContainer" *ngSwitchWhen="'map'">
      <div id="mapDetail"></div>      
    </div>

    <div id="gallery" *ngSwitchWhen="'gallery'">
      <ion-card *ngFor='let incident of incidents | arraySort: order | search: searchText'>
        <img src={{incident.RutaFoto}}/>
        <ion-card-content>
          <div [ngSwitch]=incident.state>
            <h2 secondary class="card-title" *ngSwitchWhen="'Terminada'">
              {{incident.Estado}}
            </h2>
            <h2 danger class="card-title" *ngSwitchWhen="'Pendiente'">
              {{incident.Estado}}
            </h2>
          </div>

          <p>
            {{incident.DesUbicacion}}
          </p>
          <button clear item-right class="pull-right" (click)="openDetail(incident)">View</button>
        </ion-card-content>
      </ion-card>
    </div>

  </div>



</ion-content>
