<ion-navbar *navbar hideBackButton class="show-navbar android-attr">
  <ion-title>
    Login
  </ion-title>
</ion-navbar>

<ion-content class="login">
    <!--SPINNER
    <div login-spinner-back>
        <div login-spinner>
            <p>Loading...</p>
            <ion-spinner *ngIf="true"></ion-spinner>
        </div>
    </div>-->
    <!--END SPINNER-->
    <spinner-loading title="Loading..." *ngIf="loginLoading"></spinner-loading>
    <ion-card>
        <ion-card-content>
        <ion-item>
            <ion-thumbnail item-left small>
            <img src="img/AytoMalaga.png" size-24>
            </ion-thumbnail>
            Ayuntamiento de Málaga
            <button clear item-right (click)="openEntitiesPage()">Change</button>
        </ion-item>
        </ion-card-content>
    </ion-card>
    <div padding>
        <ion-list>
        <ion-item>
            <ion-input type="text" placeholder="Username" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
        </ion-item>
        </ion-list>
        <button block (click)="loginUser()">Login</button>
        
        <button light block (click)="openSignInPage()">Sign in</button>
        <button clear block (click)="forgottenPass()">Forgotten password</button>
        <div block class="label-or">
        Or use...
        </div>
        <button block (click)="loginFacebookUser()">
        <ion-icon name="logo-facebook"></ion-icon>
        Facebook
        </button>
        <button block danger>
        <ion-icon name="logo-googleplus"></ion-icon>
        Google
        </button>
    </div>
</ion-content>
