.incidents-page ion-content {
  //background: rgb(229, 227, 223);
}

.incidents-page #map {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 150ms ease-in
}

.incidents-page #switch {
  width: 100%;
  height: 100%;
}

.incidents-page #map.show-map {
  opacity: 1;
}
