.topInfoSection2{
    width: 100%;
    height: 30px;
    background-color: #e0e0e0;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    color: #5d5b5b;
    box-shadow: inset 0 -5px 5px -5px #333;
}