<ion-navbar *navbar class="show-navbar android-attr">
  <ion-title>
 {{"newInc.title" | translate}} 
    <div toolbar-subtitle>
      {{user.AyuntamientoNombre}}
    </div>
  </ion-title>
</ion-navbar>


<ion-content>  
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>{{newInc.element | translate}}</ion-label>
          <ion-select [(ngModel)]="newInc.tipoElementoID" multiple="false" (ngModelChange)="changeTipoElemento()">
            <ion-option *ngFor="let tipoElemento of tiposElementos" value="{{tipoElemento.TipoElementoID}}" [checked]="false">{{tipoElemento.DesTipoElemento}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>{{newInc.incident | translate}}</ion-label>
          <ion-select [(ngModel)]="newInc.tipoIncidenciaID" multiple="false">
            <ion-option *ngFor="let tipoIncidencia of tiposIncidencias" value="{{tipoIncidencia.TipoIncID}}" [checked]="false">{{tipoIncidencia.TipoInc}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-textarea type="text" placeholder="Description" [(ngModel)]="newInc.desAveria"></ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
  <ion-card class="ion-card-map">

    <div id="mapInc"></div>
    <button fab fab-right class="fab-map" (click)="centerMap()">
      <ion-icon name="pin"></ion-icon>
    </button>
    
    <ion-item>
      <ion-icon name="contact" item-left large></ion-icon>
      <h2>{{"newInc.location" | translate}}</h2>      
      <p>{{newInc.desUbicacion}}</p>
    </ion-item>

  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col width-25 class="text-center">
          <button (click)="takePhoto(0)" [hidden]="images[0] != undefined" outline><ion-icon name="image"></ion-icon></button>
          <img [src]="images[0]" [hidden]="images[0] == undefined" (click) = "openGallery()"/>
        </ion-col>
        <ion-col width-25 class="text-center">
          <button (click)="takePhoto(1)" [hidden]="images[1] != undefined" outline><ion-icon name="image"></ion-icon></button>
          <img [src]="images[1]" [hidden]="images[1] == undefined" (click) = "openGallery()" />
        </ion-col>
        <ion-col width-25 class="text-center">
          <button (click)="takePhoto(2)" [hidden]="images[2] != undefined" outline><ion-icon name="image"></ion-icon></button>
          <img [src]="images[2]" [hidden]="images[2] == undefined" (click) = "openGallery()" />
        </ion-col>
        <ion-col width-25 class="text-center">
          <button (click)="takePhoto(3)" [hidden]="images[3] != undefined" outline><ion-icon name="image"></ion-icon></button>
          <img [src]="images[3]" [hidden]="images[3] == undefined" (click) = "openGallery()" />
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <button full send-incident (click) = "newIncident()">{{"newInc.send" | translate}} </button>

</ion-content>
