.newinc-page {
  
  .fab-map {
    top: 214px;
    z-index: 50;
  }

  .ion-card-map {
    position: relative;
  }

  #mapInc {
    width: 100%;
    height: 248px;
  }

  button[send-incident] {
    margin-left: 3%;
    margin-bottom: 3%;
    width: 94%;
  }

  ion-select {
      max-width: 100%;
  }
  
  .des-averia {
    padding-left: 0px;
  }
  
}

.wp .newinc-page ion-select {
    flex: 4;
}

.md .newinc-page .item-input::after{
  left: 0px;
}