<ion-header>
  <ion-navbar>
    <ion-title>
      {{"newInc.newIncStepByStep.step3.title" | translate}} 
      <div toolbar-subtitle>
        {{user.AyuntamientoNombre}}
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="step4-page">
  <div class="contentAll">
    <div class="topInfoSection1">{{inc.familia.Nombre}}</div>
    <div class="topInfoSection2">{{inc.tipoElemento.DesTipoElemento}}</div>
    <div class="topInfoSection3">{{inc.tipoIncidencia.TipoInc}}</div>
    <div class="topInfoSection4">
      <ion-row>
          <ion-col width-25 class="text-center" [hidden]="inc.imgs[0] == ''">
          <img [src]="inc.imgs[0]" />
          </ion-col>
          <ion-col width-25 class="text-center" [hidden]="inc.imgs[1] == ''">
          <img [src]="inc.imgs[1]" />
          </ion-col>
          <ion-col width-25 class="text-center" [hidden]="inc.imgs[2] == ''">
          <img [src]="inc.imgs[2]" />
          </ion-col>
          <ion-col width-25 class="text-center" [hidden]="inc.imgs[3] == ''">
          <img [src]="inc.imgs[3]" />
          </ion-col>
      </ion-row>
    </div>
    
    <ion-card class="ion-card-desc">
        <ion-card-content>
        <ion-list>
            <ion-item class="des-averia">
            <ion-textarea type="text" placeholder="Description" [(ngModel)]="inc.desAveria"></ion-textarea>
            </ion-item>
        </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card class="ion-card-map" no-marg-left no-marg-right>

      <ion-item> <!--(click)="showMap()"-->
        <ion-icon name="contact" item-left large></ion-icon>
        <h2 *ngIf="!localizando">{{"newInc.location" | translate}}</h2>      
        <p *ngIf="!localizando">{{inc.desUbicacion}}</p>
        <p item-left *ngIf="localizando">{{"newInc.newIncStepByStep.step4.localizando" | translate}}</p>
        <ion-spinner item-right *ngIf="localizando"></ion-spinner>
      </ion-item>

      <div id="mapInc" [ngClass]="mapClass()"></div>
      <!--<button fab fab-right class="fab-map" [hidden]="hideMap" (click)="centerMap()">
        <ion-icon name="pin"></ion-icon>
      </button>-->

    </ion-card>

    <button fab send-incident (click)="newIncident()">
      <!--{{"newInc.send" | translate}}--> 
      <ion-icon name="send"></ion-icon>
    </button>
  </div>
</ion-content>
