.fab-map {
  top: 214px;
  z-index: 50;
}

.ion-card-map {
  position: relative;
}

.sebm-google-map-container {
  width: 100%;
  height: 248px;
}

button[send-review] {
  margin-left: 3%;
  margin-bottom: 3%;
  width: 94%;
}
