<ion-navbar *navbar class="show-navbar android-attr">
  <ion-title>
    Review
    <div toolbar-subtitle>
      Ayuntamiento de Málaga
    </div>
  </ion-title>
</ion-navbar>


<ion-content light>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-textarea type="text" placeholder="Solution" [(ngModel)]="reviewInc.DesSolucion"></ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="showTypology">
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Element</ion-label>
          <ion-select [(ngModel)]="reviewInc.tipoElementoID" multiple="false" (ngModelChange)="changeTipoElemento()">
            <ion-option *ngFor="let tipoElemento of tiposElementos" value="{{tipoElemento.TipoElementoID}}" [checked]="false">{{tipoElemento.DesTipoElemento}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Incident</ion-label>
          <ion-select [(ngModel)]="reviewInc.tipoIncidenciaID" multiple="false">
            <ion-option *ngFor="let tipoIncidencia of tiposIncidencias" value="{{tipoIncidencia.TipoIncID}}" [checked]="false">{{tipoIncidencia.TipoInc}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>State</ion-label>
          <ion-select [(ngModel)]="reviewInc.EstadoAvisoID" multiple="false">
            <ion-option *ngFor="let estado of estados" value="{{estado.EstadoAvisoID}}" [checked]="false">{{estado.Nombre}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Responsible</ion-label>
          <ion-select [(ngModel)]="reviewInc.OrigenIDResponsable" multiple="false">
            <ion-option *ngFor="let responsable of responsables" value="{{responsable.OrigenID}}" [checked]="false">{{responsable.DesOrigen}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-card-map" *ngIf="showMap">

    <div id="mapInc"></div>
    <button fab fab-right class="fab-map" (click)="centerMap()">
      <ion-icon name="pin"></ion-icon>
    </button>
    
    <ion-item>
      <ion-icon name="contact" item-left large></ion-icon>
      <h2>User location</h2>      
      <p>{{reviewInc.desUbicacion}}</p>
    </ion-item>

  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col width-25 class="text-center">
          <button (click)="takePhoto(0)" [hidden]="images[0] != undefined" outline><ion-icon name="image"></ion-icon></button>
          <img [src]="images[0]" [hidden]="images[0] == undefined" (click) = "openGallery()" />
        </ion-col>
        <ion-col width-25 class="text-center">
          <button (click)="takePhoto(1)" [hidden]="images[1] != undefined" outline><ion-icon name="image"></ion-icon></button>
          <img [src]="images[1]" [hidden]="images[1] == undefined" (click) = "openGallery()" />
        </ion-col>
        <ion-col width-25 class="text-center">
          <button (click)="takePhoto(2)" [hidden]="images[2] != undefined" outline><ion-icon name="image"></ion-icon></button>
          <img [src]="images[2]" [hidden]="images[2] == undefined" (click) = "openGallery()" />
        </ion-col>
        <ion-col width-25 class="text-center">
          <button (click)="takePhoto(3)" [hidden]="images[3] != undefined" outline><ion-icon name="image"></ion-icon></button>
          <img [src]="images[3]" [hidden]="images[3] == undefined" (click) = "openGallery()" />
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <button full send-incident (click)="reviewIncident()">Review</button>
</ion-content>
